@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

.scrollbar {
    scrollbar-widt: none;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

@layer base {
    @font-face {
        font-family: "Kumbh Sans", sans-serif;
        font-style: normal;
        src: url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
    }
}